body{
    background-color: #5CE1E6;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

p{
    font-weight: 300;
    margin: 5px;
}

.sound{
    margin: auto;
    width: 50%;
    padding: 150px 0px 100px 0px;
}

button{
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    font-weight: 300;
    letter-spacing: 7px;
    background-color: #5CE1E6;
    border: solid;
    border-width: thin;
    border-radius: 12px;
    width: auto;
    margin: 10px;
}

button:hover{
    cursor: pointer;
}

.options{
    margin-top: 20px;
}

.arrow{
    width: 25px;
}

.home{
    width: 30px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
